body {
  backdrop-filter: blur(5px);
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e4/Alappuzha_Boat_Beauty_W.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


